.logos {
    height: 200px;
    width: 200px;
    
}

.logoContainer {
    margin-left: 45px;
    margin-top: 30px;
}

.App {
    background: url("../../Images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: right;
}

#juventus, #bayern, #liverpool, #psg, #wolves, #arsenal, #galaxy {
    background-color: white;
}