.navigation {
    display:flex;
    justify-content: space-around;
    height: 18vh;
    margin-top: 2vh;
    width:auto;
    background-color: rgba(53, 75, 199, 0.808);
}

.logo {
    display: flex;
    align-items: center;
}


.nav_links {
    display: flex;
    align-items: center;
}

.link:not(:last-child) {
margin-right: 30px;
}

